/* шапка */

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", Arial, sans-serif;
	
	--border-color: #e0e0e0;
	--white-text: #fff;
	--background-color: #f6f6f8;
}

p, span {
	color: #999999;
}


.button-style {
	border-radius: 30px;
	padding: 0.5vw 1vw;
	font-size: clamp(0.625rem, 0.414rem + 0.59vw, 1rem);
	width: clamp(7.5rem, 4.005rem + 9.71vw, 12.5rem);
	height: clamp(1.688rem, 0.901rem + 2.18vw, 2.813rem);
	background-color: #548ce8;
	color: var(--white-text);
	border: 1px solid #548ce8;
}

.button-style:hover {
	background:#446eb3;
	border: 1px solid #446eb3;
	cursor: pointer;
}

.header {
	background-image: url("img/photo_1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: var(--white-text);

	.nav-header {
		display: flex;
		justify-content: flex-end;
		border-bottom: 1px solid #a1a1a1;
	
		.nav-header-ul {
			margin-right: 5%;
			margin-bottom: 0;
	
			.nav-header-li {
				display: inline-flex;
				list-style-type: none;
				margin: 10px;
				padding: 1.25vh 0.5vw;
				font-size: 15px;
				font-family: "Montserrat", Arial, sans-serif;
	
				.nav-header-a {
					text-decoration: none;
					color: var(--white-text);
					font-size: 16px;
				}
	
				.nav-header-a:hover {
					color: #e0e0e0;
				}
			}
		}
	}
}

.central-header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
	font-family: "Montserrat", Arial, sans-serif;
	padding-bottom: 10%;

	.it-studio {
		margin-bottom: 15px;
		font-size: clamp(0.75rem, 0.429rem + 0.89vw, 1.5rem);
	}

	.header-h1 {
		margin-bottom: 20px;
		font-size: clamp(1.125rem, -0.268rem + 3.87vw, 4.375rem);
		text-align: center;
		font-weight: bold;
		width: 60%;
		margin-bottom: 2vw;
	}
}


#services {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10%;

	.div-services-h2 {
		display: flex;
		justify-content: center;

		.services-h2 {
			text-align: center;
			margin-bottom: 40px;
			font-size: clamp(1rem, 0.551rem + 1.94vw, 2.25rem);
			font-weight: bold;
			width: 80%;
		}
	}

	.div-services-p {
		display: flex;
		justify-content: center;

		.services-p {
			text-align: center;
			width: 85%;
			max-height: 40px;
			font-size: clamp(0.75rem, 0.575rem + 0.49vw, 1rem);
		}
	}

	.services-item {
		display: flex;	
		margin-top: 5%;
		justify-content: center;

		

		.services-item-img {
			align-self: center;
			justify-content: flex-end;
			width: 120px;
			margin-right: 1vw;
		}

		.services-item-text-col {
			width: 200px;

			.services-item-text {
				padding-top: 40px;
		
				.services-item-text-h3 {
					font-size: clamp(0.75rem, 0.639rem + 0.56vw, 1.125rem);
					font-weight: 700;
				}
			
				.services-item-text-p {
					font-size: clamp(0.625rem, 0.551rem + 0.37vw, 0.875rem);
					max-width: 220px;
				}
			}
		}
	}

	.all-services-button {
		margin-top: 50px;
	}
}

#about-us {
	margin-top: 10%;
	background-color: var(--background-color);
	padding-top: 10%;

	.about-us {
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 8%;
		
		

		.about-us-text {
			align-self: center;

			.about-us-text-h2 {
				font-size: clamp(1rem, 0.551rem + 1.94vw, 2.25rem);
				font-weight: bold;
				margin-bottom: 25px;
				width: 425px;
			}

			.about-us-text-p {
				font-size: clamp(0.75rem, 0.575rem + 0.49vw, 1rem);
				font-weight: 400;
				width: 490px;
				padding-bottom: 10px;
			}

			.about-us-text-a {
				text-decoration: none;
				color: #4985FF;
				border-bottom: 1px solid #4985FF;
			}
		}

		.about-us-img {
			display: flex;
			justify-content: flex-end;
			width: 500px;
			height: 400px;
			border-radius: 30px;
		}
	}
}

#about-us-numbers {
	background-color: var(--background-color);
	padding: 2% 5%;

	.about-us-numbers {
		display: flex;
		justify-content: center;

		.about-us-numbers-span {
			font-size: clamp(0.75rem, 0.205rem + 2.73vw, 2.25rem);
			padding-left: 10px;
			color: #000;
		}

		.about-us-numbers-img {
			align-self: center;
		}
	}
}


#all-services {
	padding-top: 10vh;
	background-image: linear-gradient(30deg, #504DC2, #5F12D0);
	background-repeat: no-repeat;
	background-size: 100% 55%;

	.all-services {
		width: 1200px;
	}

	.all-services-text {
		margin-bottom: 10vh;

		.all-services-h2 {
			font-size: clamp(1.25rem, 0.886rem + 1.82vw, 2.25rem);
			font-weight: 700;
			color: var(--white-text);
		}
	}

	.all-services-button-2 {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.all-services-item-img {
		margin-bottom: 30px;
		display: flex;
		justify-content: flex-start;
	}

	.all-services-item-text01-span {
		font-size: 18px;
		font-weight: 600;
		color: #548ce8;
	}
	
	.all-services-item-text01-h3 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	
	.all-services-item-text {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.all-services-item-a {
		padding-bottom: 70px;
	}
}


#all-projects {
	margin-top: 10px;
	background-color: var(--background-color);
	padding-top: 10vh;
	display: flex;
	align-items: center;
	flex-direction: column;

	.all-projects-h2 {
		margin-bottom: 20px;
		font-size: clamp(1.688rem, 1.521rem + 0.83vw, 2.25rem);
		font-weight: bold;
	}

	.all-projects-p {
		text-align: center;
		height: 40px;
		width: 730px;
		margin-bottom: 50px;
		font-size: clamp(0.875rem, 0.838rem + 0.19vw, 1rem);
	}

	.all-projects-img {
		width: 1140px;
	}

	.all-projects-button {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 100px;
	}
}


#video {
	background: url(img/photo_5.png) no-repeat;
	background-size: 100% 90%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.video-h2 {
		padding-top: 20%;
		padding-bottom: 10px;
		text-align: center;
		color: var(--white-text);
		font-size: clamp(1.25rem, 0.886rem + 1.82vw, 2.25rem);
		font-weight: bold;
	}

	.video-p {
		width: 80%;
		display: inline;
		text-align: center;
		margin-bottom: 50px;
		font-size: 16px;
		color: var(--white-text);
	}

	.video-player {
		background: url(img/video.png) no-repeat;
		border-radius: 10px;
		width: 970px;
		height: 430px;
		display: flex;
		justify-content: center;
		align-items: center;

		.video-button {
			border-radius: 200px;
			border: 1px solid var(--white-text);
			background: none;

			.video-button-img {
				margin-top: 20px;
				margin-bottom: 20px;
				margin-left: 40px;
				margin-right: 20px;
			}
			
			.video-button-a {
				margin-right: 30px;
				color: var(--white-text);
				font-size: 16px;
				font-weight: 600;
				text-decoration: none;
			}
		}
	}
}


#subscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;

	.subscribe-h3 {
		border-top: 1px solid var(--border-color);
		padding-top: 5%;
		margin-bottom: 20px;
		width: 1110px;
		text-align: center;
		font-size: 18px;
		font-weight: 600;
	}

	.subscribe-container {
		display: flex;
		margin-top: 10px;
		box-shadow: 0 0 5px #6F6F6F40;
		border-radius: 30px;

		.subscribe-email {
			border-radius: 30px 0 0 30px;
			padding: 10px 0 10px 15px;
			border: 1px solid #F2F2F2;
			width: 300px;
			height: 45px;
		}

		.subscribe-email:focus {
			border: 1px solid #446eb3;
			outline: none;
		}

		.subscribe-button {
			border-radius: 0 30px 30px 0;
			font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
			width: 190px;
			height: 45px;
			box-shadow: 0 0 5px #6F6F6F40;
		}
	}

	.subscribe-p-2 {
		margin-top: 30px;
		font-size: 13px;
	}
}


#footer-container {
	margin-top: 50px;
	padding-top: 50px;
	background-color: var(--background-color);
	background-size: 100%;

	.footer-container {
		
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 70px;
		margin-bottom: 30px;
	}

	.button-footer {
		background: none;
		border: none;
	}

	.footer-text {
		margin-top: 15px;
	}

	.footer-row {
		display: inline-flex;
		flex-direction: column;
		margin-right: 20px;
	}

	.footer-row-last {
		display: inline-flex;
		flex-direction: column;
	}

	.last-p {
		display: flex;
		justify-content: center;
	}
}

//-------------------------------------


@media (min-width: 1400px) {

	#services {
		.services-item {
			.services-item-img:not(:first-child) {
				margin-left: 50px;
			}
		}
	}
}


@media (min-width: 1200px) {

	#footer-container {
		div.footer-row-last {
			margin-left: 0;
		}

		div.footer-row:nth-child(2) {
			margin-left: 0;
		}
	}
}



@media (max-width: 1200px) {

	#services {
		.services-item {
			max-width: 750px;
		}
	}

	#about-us {
		.about-us {
			.about-us-text {
				display: flex;
				align-items: center;
				flex-direction: column;
				text-align: center;
			}

			.about-us-img {
				margin-top: 2%;
				display: flex;
				justify-content: center;
			}
		}
	}

	#all-services {
		.all-services-item-img {
			img {
				width: 290px;
				height: 250px;
			}
		}

		.all-services-text {
			width: 100%;
			margin: 0 0 8% 0;
			
		}

		.all-services-item-text01-h3 {
			width: 250px;
			font-size: 15px;
		}

		.all-services-item-text{
			width: 250px;
			font-size: 14px;
		}
	}

	#all-projects {
		.all-projects-img-col {
			margin-bottom: 5%;
			display: flex;
			justify-content: center;
		}
	}

	#video {
		background-size: 100% 80%;
	}

	#footer-container {
		.footer-row, .footer-row-last{
			width: 45%;
		}
		.footer-row:nth-child(3), .footer-row-last {
			margin-top: 5%;
		}
	}
}



@media (max-width: 992px) {

	#video {
		background-size: 100% 60%;

		.video-player {
			width: 700px;
			height: 300px;
		}
	}
}



@media (min-width: 768px) {

	.all-header {
		.navbar {
			display: none;
		}
	}

	#all-services {
		.all-services-item-img:nth-child(2) {
			justify-content: flex-end;
		}

		.all-services-item-text01:nth-child(2) {
			display: flex;
			flex-direction: column;
			align-items: center;
	
			.all-services-item-a {
				align-self: flex-start;
				padding-left: 10%;
			}
		}

		.all-services-text {
			width: 100%;

			.all-services-button-2 {
				justify-content: flex-end;
			}
		}
	}

	#footer-container {
		.footer-row:nth-child(2), .footer-row-last {
			margin-left: 5%;
		}
	}
}




@media (max-width: 767px) {

	.all-header {
		
		.nav-header {
			display: none;
		}

		.navbar .container-fluid{
			justify-content: flex-end;
		}
	}

	#services {
		.services-item {
			max-width: 400px;
		}
	}

	#all-services {
		.all-services-text {
			width: 100%;
			flex-direction: column;

			.all-services-button-2 {
				justify-content: center;
				width: 100%;
				margin-top: 30px;
			}

			.all-services-h2 {
				text-align: center;
				width: 100%;
			}
		}

		.all-services-item-img {
			justify-content: center;
			width: 100%;
			margin-bottom: 15%;
		}

		.all-services-item-text01 {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	#all-projects {
		.all-projects-p {
			width: 576px;
		}
	}

	#video {
		background-size: 100% 55%;

		.video-player {
			width: 100%;
			height: 300px;
			margin-right: 10px;
		}
	}

	#footer-container {
		.footer-row, .footer-row-last {
			width: 100%;
			margin: 0;
			margin-top: 5%;
		}
	}
}




@media (max-width: 576px) {
	
	#about-us {
		.about-us {
			.about-us-text {
				.about-us-text-p {
					width: 90%;
				}
			}

			.about-us-img {
				width: 200px;
				height: 160px;
			}
		}
	}
	
	.services-item-img {
		img {
			width: 80px;
			height: 80px;
		}
	}

	#about-us-numbers {
		.about-us-numbers-img {
			width: 20px;
			height: 20px;
		}
	}

	#all-services {
		background-size: 100% 45%;
		
		.all-services {
			width: 80%;

			.all-services-text {
				flex-direction: column;
				width: 100%;
				margin: 0;
				margin-bottom: 10%;
	
				.all-services-h2 {
					justify-content: center;
				}
			}

			.all-services-item-row-img {
				width: 100%;
				flex-direction: column;
				justify-content: center;
				margin: 0;

				.all-services-item-img:last-child{
					margin-bottom: 0;
				}
				
				img {
					width: 190px;
					height: 150px;
				}
			}

			.all-services-item-text01:first-child {
				margin-top: 10%;
			}
		}
	}

	#all-projects {
		.all-projects-p {
			width: 80%;
			margin-bottom: 20%;
		}

		.all-projects-img {
			width: 100%;

			.all-projects-img-col {
				img {
					width: 150px;
					height: 150px;
				}
			}
		}
	}

	#video {
		background-size: 100% 40%;

		.video-h2 {
			padding-top: 30%;
		}
		.video-p {
			margin-bottom: 0;
			padding-bottom: 15%;
		}

		.video-player .video-button {
			width: 200px;
			height: 70px;

			.video-button-img {
				margin: 0;
				margin-right: 5px;
				width: 50px;
				height: 50px;
			}

			.video-button-a {
				font-size: 12px;
				margin-right: 0;
			}
		}
	}

	#subscribe {
		.subscribe-p {
			width: 90%;
			text-align: center;
		}

		#form-subscribe {
			width: 90%;
			
			.subscribe-email {
				width: 80%;
			}
		}

		.subscribe-p-2 {
			width: 90%;
			text-align: center;
		}
	}

	#footer-container {
		.footer-row:not(:first-child), .footer-row-last {
			margin-top: 10%;
		}
	}
} 

  