/* шапка */

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", Arial, sans-serif;
}

p, span {
	color: #999999;
}

.button-style {
	border-radius: 30px;
	padding: 5px 10px;
	font-size: 16px;
	width: 200px;
	height: 45px;
	background-color: #548ce8;
	color: #fff;
	border: 1px solid #548ce8;
}

.button-style:hover {
	background:#446eb3;
	border: 1px solid #446eb3;
	cursor: pointer;
}

.header {
	background-image: url("img/photo_1.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	color: #fff;
	height: 800px;
}

nav {
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid #a1a1a1;
}

nav ul {
	margin-right: 200px;
	margin-bottom: 0;
}

nav li {
	display: inline-flex;
	list-style-type: none;
	margin: 10px;
	padding: 20px 10px;
	font-size: 15px;
	font-family: "Montserrat", Arial, sans-serif;

}

.nav-header a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.nav-header a:hover {
	color: #e0e0e0;
}

.central-header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	font-family: "Montserrat", Arial, sans-serif;
}

div h1 {
	margin-bottom: 20px;
	font-size: 48px;
	text-align: center;
	font-weight: bold;
}

.it-studio {
	margin-bottom: 15px;
	font-size: 16px;
}

/*----------------------------------------*/

#services {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}

.services-h2 {
	text-align: center;
	padding-bottom: 20px;
}

.services-h2 h2 {
	font-size: 36px;
	font-weight: bold;
	width: 740px;
	height: 90px;
}

.services-p {
	text-align: center;
	width: 730px;
	height: 40px;
}

.services-p p {
	font-size: 16px;
}

.services-item {
	display: flex;	
	margin-top: 100px;
	justify-content: center;
}

.services-item-text {
	padding-top: 40px;
	padding-left: 20px;
}

.services-item-text h3 {
	font-size: 18px;
	font-weight: 700;
}

.services-item-text p {
	font-size: 14px;
	width: 220px;
}

.all-services-button {
	margin-top: 50px;
}

/* --------------------------------- */

#about-us {
	display: flex;
	margin-top: 100px;
	background-color: #f6f6f8;
	padding-top: 100px;
}

.about-us {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 70px;
	margin-bottom: 50px;
}

.about-us-text {
	align-self: center;
}

.about-us-text h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 25px;
}

.about-us-text p {
	font-size: 16px;
	font-weight: 400;
	width: 490px;
	padding-bottom: 10px;
}

.about-us-text a {
	text-decoration: none;
	color: #4985FF;
	border-bottom: 1px solid #4985FF;
}

.about-us-img {
	margin-left: 80px;
	display: flex;
	justify-content: flex-end;
	width: 500px;
	height: 400px;
}

.about-us-img img {
	border-radius: 30px;
}

#about-us-numbers {
	background-color: #f6f6f8;
	display: flex;
	padding-left: 150px;
	padding-right: 100px;
	padding-bottom: 50px;
}

#about-us-numbers div.container {
	width: 1200px;
}

.about-us-numbers {
	display: flex;
	justify-content: center;
}

.about-us-numbers-text {
	display: flex;
	justify-content: center;
}

.about-us-numbers span {
	font-size: 36px;
	padding-left: 10px;
	color: #000;
}

.about-us-numbers img {
	align-self: center;
}

.about-us-numbers-text p {
	font-size: 16px;
}
/*----------------------------------*/

#all-services {
	padding-top: 100px;
	background-image: linear-gradient(30deg, #504DC2, #5F12D0);
	background-repeat: no-repeat;
	background-size: 100% 55%;
}

#all-services div.container {
	width: 1140px;
	border-bottom: 1px solid #e0e0e0;
}

#all-services-text {
	margin-bottom: 60px;
}

.all-services-h2 h2 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
}

.all-services-button-2 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}

.all-services-item-img {
	margin-bottom: 30px;
}

.all-services-item-text01 span {
	font-size: 18px;
	font-weight: 600;
	color: #548ce8;
}

.all-services-item-text01 h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.all-services-item-text {
	margin-right: 10px;
	margin-bottom: 10px;
}

#all-services-item-a {
	padding-bottom: 70px;
}
/* ----------------------------- */

#all-projects {
	margin-top: 70px;
	background-color: #F6F6F8;
	padding-top: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#all-projects div.container {
	width: 1140px;
}

.all-projects-h2 {
	margin-bottom: 20px;
}

.all-projects-h2 h2 {
	font-size: 36px;
	font-weight: bold;
}

.all-projects-p {
	text-align: center;
	height: 40px;
	width: 730px;
	margin-bottom: 50px;
}

.all-projects-p p {
	font-size: 16px;
	color: #999999;
}

.all-projects-button {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

/* ------------------------- */

#video {
	background: url(img/photo_5.png) no-repeat;
	background-size: 100% 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video-h2 {
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
	
}

.video-h2 h2 {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
}

.video-p {
	width: 730px;
	display: inline;
	text-align: center;
	margin-bottom: 50px;
}

.video-p p {
	font-size: 16px;
	color: #fff;
}

.video-button {
	background: url(img/video.png) no-repeat;
	border-radius: 10px;
	width: 970px;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-button button{
	border-radius: 200px;
	border: 1px solid #fff;
	background: none;
}

.video-button img {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 20px;
}

.video-button a {
	margin-right: 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
/* ------------------------------ */

#subscribe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.subscribe-h3 {
	border-top: 1px solid #e0e0e0;
	padding-top: 70px;
	margin-bottom: 10px;
}

.subscribe-h3 h3 {
	width: 1110px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}

.subscribe-container {
	display: flex;
	margin-top: 10px;
	box-shadow: 0 0 5px #6F6F6F40;
	border-radius: 30px;
}

input {
	border-radius: 30px 0 0 30px;
	padding: 10px 0 10px 15px;
	border: 1px solid #F2F2F2;
	width: 300px;
}

input:focus {
	border: 1px solid #446eb3;
	outline: none;
}

.subscribe-button {
	border-radius: 0 30px 30px 0 ;
	padding: 10px 10px;
	font-size: 16px;
	width: 190px;
	height: 45px;
	background-color: #548ce8;
	color: #fff;
	border: 1px solid #548ce8;
	box-shadow: 0 0 5px #6F6F6F40;
	
}

.subscribe-button:hover {
	background:#446eb3;
	border: 1px solid #446eb3;
	cursor: pointer;
}

.subscribe-p-2 {
	margin-top: 30px;
	font-size: 13px;
}

/* --------------------------- */

footer {
	margin-top: 50px;
	padding-top: 50px;
	background-color: #F6F6F8;
}

div.footer-h3 h3 {
	width: 255px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

div.footer-container {
	margin-bottom: 40px;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 70px;
}

div.footer-container div.row {
	margin-top: 20px;
}

div.footer-container div.col {
	padding-left: 50px;
}

div.footer-container div.row span {
	margin-left: 10px;
}

div.footer-container div.row a {
	margin-left: 10px;
	text-decoration: none;
	color: #999999;
}

.last-p {
	display: flex;
	justify-content: center;
	
}